---
import DiscordIcon from "./icons/DiscordIcon.astro";
import sisterClubs from "../content/links/sisterclubs.json";
import blurb from "../content/footer/blurb.json";
import { Image } from 'astro:assets';
import logo from "../assets/logo.png";
import links from "../content/links/social.json";
---

<div
  class="bg-zinc-800 flex flex-col md:flex-row font-montserrat font-light text-stone-500 py-20 xl:py-24 text-base px-3 xl:px-0"
>
  <div class="md:w-5/12 pr-28 mb-14 md:mb-0 text-sm xl:text-base">
    <div class="mb-6">
      <Image src={logo} height={80} alt="Our logo" />
    </div>
    <div class="mb-10">
      {blurb.footer}
    </div>
    <div class="">Copyright © 2022 Cal State San Bernardino</div>
  </div>

  <div class="basis-6/12 mb-14 md:mb-0">
    <div class="flex">
      <div class="basis-6/12">
        <div class="mb-10 text-stone-400">Quick links</div>
        <div class="flex flex-col gap-3">
          <a href="/" class="hover:underline w-fit">Homepage</a>

          <a href="/about/" class="hover:underline w-fit">About us</a>
          <a href="/announcements/" class="hover:underline w-fit"
            >Announcements</a
          >
          <a href="/calendar/" class="hover:underline w-fit">Events</a>
          <a href="/contact/" class="hover:underline w-fit">Contact</a>
          <a href="/archive/" class="hover:underline w-fit">Archive</a>
        </div>
      </div>
      <div class="basis-6/12">
        <div class="mb-10 text-stone-400">Sister Clubs</div>
        <div class="flex flex-col gap-3">
          {
            sisterClubs.sisters.map((sister) => {
              return (
                <div class="">
                  <a class="hover:underline" href={sister.link}>
                    {sister.name}
                  </a>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>

  <div class="basis-3/12">
    <div class="mb-10 text-stone-400">Social Media</div>
    <div class="">
      <a href={links.discord}>
        <button class="btn btn-info gap-2">
          <DiscordIcon classes="h-6 w-6 fill-white" />
          <span class="md:hidden xl:inline xs:inline">Join us on</span> Discord
        </button>
      </a>
      <div class=""></div>
    </div>
  </div>
</div>
